*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family: Arial, Helvetica, sans-serif;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background: linear-gradient(135deg,#8e5a2b,#c7903c);
}

.card{
background:white;
width:900px;
padding:40px;
border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

.conteudo{
display:flex;
align-items:center;
gap:40px;
}

.texto{
flex:1;
}

.texto h1{
font-size:40px;
color:#5a3d1e;
margin-bottom:20px;
}

.texto p{
font-size:18px;
line-height:1.6;
color:#444;
margin-bottom:15px;
}

.imagem img{
width:400px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.3);
transition: transform 0.3s;
}

.imagem img:hover{
transform: scale(1.05);
}

.botao{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#8e5a2b;
color:white;
text-decoration:none;
border-radius:30px;
font-weight:bold;
transition:0.3s;
}

.botao:hover{
background:#6e431e;
transform:translateY(-3px);
}